@import "reset.scss";
@import "../scss/shared/colors.scss";
@import "../scss/shared/spacing.scss";
@import "../scss/shared/mixins.scss";

@import "../scss/views/shared/navbar.scss";
@import "../scss/views/shared/footer.scss";
@import "../scss/views/shared/error.scss";
@import "../scss/views/userEmotions.scss";
@import "../scss/views/registerEmotions.scss";
@import "../scss/views/login.scss";

h1,
h2,
h3,
h4,
h5,
p,
.ant-menu-title-content,
.ant-typography {
  font-family: "Ubuntu", sans-serif !important;
}
.ant-layout{
  background-color: $white;
}
.ant-layout-content {
  padding: $padding-mobile;
  margin-top: 70px;
  background-color: $white;

  @media (min-width: 425px){
    margin-top: 70px;
  }
  
  @media (min-width: 992px){
    padding: $padding-desktop;
    min-height: 75vh!important;
  }
}

.ant-form-item-required {
  &::before {
    display: none !important;
  }
}