$snow: #E8F1F6;
$black: #333333;
$white:#FFFFFF;

$bc__yellow: #FDC82F;
$bc__green: #008542;
$bc__blue: #006298;


$sc__blue:#4089B2;
$sc__light-blue: #C6E1F0;

$sc__pink: #FFFCFC;


$gc__grey: #666666;
$light-grey: #A6A6A6;


$info: #2F80ED;
$success: #27AE60;
$warning: #E2B93B;
$error: #EB5757;
$info-light: #E8F1F6;
$success-light: #C3ECD4;
$warning-light: #F8EABF;
$error-light: #FAD8D8;