.register-emotions {
  &__desktop {
    @media (min-width: 992px) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      &--start {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
      }
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $margin-sections;

    @media (min-width: 992px) {
      width: 15%;
      text-align: left;
      margin-bottom: 0;
    }
    &__col {
      display: flex;
      justify-content: center;

    }
    &__image{
      margin-bottom: $margin-sections;
    }
  }

  &__emotions {
    @media (min-width: 992px) {
      width: 30%;
    }
    &__checkbox {
      .ant-col {
        margin: $margin-checkbox;
      }
    }
  }
  &__habits {
    margin-top: $margin-sections;
    &__checkbox {
      .ant-col {
        margin: $margin-checkbox;
      }
    }
    @media (min-width: 992px) {
      width: 30%;
    }
  }
  &__events {
    margin-top: $margin-sections;
    &__checkbox {
      .ant-col {
        margin: $margin-checkbox;
      }
    }
    @media (min-width: 992px) {
      width: 27.4%;
    }
  }

  &__health {
    margin-top: $margin-sections;
    display: flex;
    flex-direction: column;
    &__checkbox {
      .ant-col {
        margin: $margin-checkbox;
      }
    }
    @media (min-width: 992px) {
      width: 30%;
    }
  }
  &__button {
    margin-top: $margin-sections;
    justify-content: end;
    button {
      @include button;
      align-self: flex-end;
    }
  }
}
