.user-emotions{
  display: flex;

  &__box{
    display: flex;
    flex-direction: column;
  }

  &__span{
    display: flex;
    justify-content: space-between;

    &:nth-child(2){
      margin-top: $margin-sections;
    }
  }
  &__col{
    display: flex;
    flex-direction: column;
  }
}